---
import type { ComponentProps } from 'astro/types'
import { Main } from 'fulldev-ui'
import Footer from '../components/blocks/Footer.astro'
import Header from '../components/blocks/Header.astro'
import Layout from './Layout.astro'

interface Props extends ComponentProps<typeof Layout> {
  header?: ComponentProps<typeof Header>
  blocks?: any
  footer?: ComponentProps<typeof Footer>
}

const { hero, header, footer, ...rest } = Astro.props
---

<Layout {...rest}>
  <Header {...header} />
  <Main>
    <slot />
  </Main>
  <Footer {...footer} />
</Layout>

<style is:global lang="scss"></style>
