---
import type { ComponentProps } from 'astro/types'
import { getEntry } from 'astro:content'
import { Main } from 'fulldev-ui'
import Footer from '../components/blocks/Footer.astro'
import Header from '../components/blocks/Header.astro'
import Layout from './Layout.astro'

interface Props extends ComponentProps<typeof Layout> {
  hero?: any
  blocks?: any
  header?: boolean
  footer?: boolean
}

const { hero, header, footer, blocks, ...rest } = Astro.props

const headerEntry = await getEntry('globals', 'header')
const footerEntry = await getEntry('globals', 'footer')
---

<Layout {...rest}>
  {header && <Header {...headerEntry.data} />}
  <Main>
    <slot />
  </Main>
  {footer && <Footer {...footerEntry.data} />}
</Layout>

<style is:global lang="scss"></style>
