---
import type { ComponentProps } from 'astro/types'
import { Prose, Section } from 'fulldev-ui'
import Blocks from '../components/Blocks.astro'
import Cta from '../components/blocks/Cta.astro'
import Hero from '../components/blocks/Hero.astro'
import NavLayout from './NavLayout.astro'

interface Props extends ComponentProps<typeof NavLayout> {
  hero?: ComponentProps<typeof Hero>
  blocks?: any[]
  cta?: ComponentProps<typeof Cta>
}

const { hero, blocks, cta, ...rest } = Astro.props
---

<NavLayout {...rest}>
  <Hero {...hero} />
  <Section style={{ '--screen': '768px' }}>
    <Prose>
      <slot name="content" />
    </Prose>
  </Section>
  <Blocks {blocks} />
  <slot />
  <Cta {...cta} />
</NavLayout>

<style is:global lang="scss"></style>
