---
import type { HTMLTag } from 'astro/types'
import { Box, Heading, Section, Text } from 'fulldev-ui'
import type { Block } from '../../schemas/block'
import ReviewCard from './ReviewCard.astro'

type Props<As extends HTMLTag = 'section'> = Block<As> & {
  cards?: any
}

const { structure = 'masonry', heading, text, cards, ...rest } = Astro.props
---

<Section
  class:list={'reviews'}
  {...rest}
>
  <Heading html={heading} />
  <Text html={text} />
  <Box {structure}>
    {cards?.map((card) => <ReviewCard {...card} />)}
  </Box>
</Section>
