---
import type { HTMLTag } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import { Box, Heading, Section, Text } from 'fulldev-ui'
import type { Block } from '../../schemas/block'
import ReviewCard from './ReviewCard.astro'

type Props<As extends HTMLTag = 'section'> = Block<As> & {
  reviews?: CollectionEntry<'reviews'>[]
}

const { structure = 'masonry', heading, text, reviews, ...rest } = Astro.props
---

<Section
  class:list={'reviews'}
  {...rest}
>
  <Heading html={heading} />
  <Text html={text} />
  <Box {structure}>
    {reviews?.map(({ data }) => <ReviewCard {...data} />)}
  </Box>
</Section>
