---
import type { ComponentProps } from 'astro/types'
import { getEntries } from 'astro:content'
import {
  Button,
  Card,
  Column,
  Grid,
  Heading,
  Image,
  Section,
  Spread,
  Text,
  Wrap,
} from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  heading?: string
  paragraph?: string
  text?: string
  buttons?: ComponentProps<typeof Button>[]
  categories?: any
}

const { heading, text, categories, buttons, ...rest } = Astro.props

const entries = await getEntries(categories)
---

<Section {...rest}>
  <Spread>
    <Column>
      <Heading html={heading} />
      <Text html={text} />
    </Column>
    <Wrap>
      {buttons?.map((button, i) => <Button {...button} />)}
    </Wrap>
  </Spread>
  <Grid>
    {
      entries?.map(({ data, slug }) => (
        <Card
          href={`/categorieen/${slug}/`}
          frame="panel"
        >
          <Image
            src={data.image}
            position="inset"
          />
          <Heading
            html={data.title || data.heading}
            level={3}
          />
          <Text html={data.description || data.text} />
        </Card>
      ))
    }
  </Grid>
</Section>
