---
import type { ComponentProps, HTMLTag } from 'astro/types'
import {
  Button,
  Column,
  Heading,
  Row,
  Section,
  Tagline,
  Text,
} from 'fulldev-ui'

type Props<As extends HTMLTag = 'section'> = ComponentProps<
  typeof Section<As>
> & {
  structure?: 'column' | 'spread'
  tagline?: string
  heading?: string
  text?: string
  buttons?: ComponentProps<typeof Button>[]
}

const { heading, text, tagline, buttons, ...rest } = Astro.props
---

<Section {...rest}>
  <Column>
    <Tagline html={tagline} />
    <Heading
      level={1}
      html={heading}
    />
    <Text html={text} />
    <Row>
      {buttons?.map((button) => <Button {...button} />)}
    </Row>
  </Column>
</Section>
