---
import { getCollection, getEntry } from 'astro:content'
import { Prose, Section } from 'fulldev-ui'
import Categories from '../../blocks/categories/Categories.astro'
import Intro from '../../blocks/intro/Intro.astro'
import Blocks from '../../components/Blocks.astro'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const page = await getEntry('pages', 'categorieen')
  return page
    ? [
        {
          params: {
            categories: 'categorieen',
          },
          props: page,
        },
      ]
    : []
}

const { data, render } = Astro.props
const { Content } = await render()
const categories = await getCollection('categories')
---

<Layout
  class:list={'categories-page'}
  {...data}
>
  <Intro
    heading={data.title}
    text={data.description}
    {...data}
    {...data.hero}
    {...data}
  />
  <Categories categories={categories} />
  <Section>
    <Prose>
      <Content />
    </Prose>
  </Section>
  <Blocks blocks={data.blocks} />
  <slot />
</Layout>
