---
import { getCollection } from 'astro:content'
import { Prose, Section } from 'fulldev-ui'
import Blocks from '../../components/Blocks.astro'
import Hero from '../../components/blocks/Hero.astro'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const pages = await getCollection('posts')
  return pages.map((page) => ({
    params: {
      posts: 'blog',
      post: page.slug,
    },
    props: page,
  }))
}

const { data, render } = Astro.props
const { Content } = await render()
---

<Layout {...data}>
  <Hero {...data} />
  <Section>
    <Prose>
      <Content />
    </Prose>
  </Section>
  <Blocks blocks={data.blocks} />
  <slot />
</Layout>
