---
import { getEntry } from 'astro:content'
import { Prose, Section } from 'fulldev-ui'
import Blocks from '../../components/Blocks.astro'
import Hero from '../../components/blocks/Hero.astro'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const page = await getEntry('pages', 'products')
  return [
    {
      params: {
        products: 'producten',
      },
      props: page,
    },
  ]
}

const { data, render } = Astro.props
const { Content } = await render()
---

<Layout {...data}>
  <Hero
    heading={data.title}
    text={data.description}
    {...data}
    {...data.hero}
  />
  <Section>
    <Prose>
      <Content />
    </Prose>
  </Section>
  <Blocks blocks={data.blocks} />
  <slot />
</Layout>
