---
import { getEntry } from 'astro:content'
import { Layout } from 'fulldev-blocks'
import { Prose, Section } from 'fulldev-ui'
import Blocks from '../components/Blocks.astro'
import { default as ContactBlock } from '../components/blocks/Contact.astro'

const { data, render } = await getEntry('pages', 'contact')
const { Content } = await render()

const settings = (await getEntry('blocks', 'settings'))?.data
---

<Layout {...data}>
  <ContactBlock
    heading={data.title}
    text={data.description}
    {...settings}
    {...data}
  />
  <Section style={{ '--screen': '768px' }}>
    <Prose>
      <Content />
    </Prose>
  </Section>
  <Blocks blocks={data.blocks} />
  <slot />
</Layout>
