---
import type { CollectionEntry } from 'astro:content'
import { Layout as FullLayout, Main } from 'fulldev-ui'
import Banner from '../blocks/banner/Banner.astro'
import Footer from '../blocks/footer/Footer.astro'
import Header from '../blocks/header/Header.astro'
import Block from '../components/Block.astro'

type Props = CollectionEntry<'pages'>

const { data, ...rest } = Astro.props
---

<FullLayout
  class:list={'layout'}
  lang="nl"
  {...data}
  {...rest}
>
  <!-- <Banner
    {...settings?.banner}
    {...header}
  /> -->
  <Header
    logo={data?.header ? data?.logo : undefined}
    {...data?.header}
  />
  <Main>
    <slot />
    <Block
      _bookshop_name="Cta"
      {...data?.cta}
    />
  </Main>
  <Footer
    logo={data?.footer ? data?.logo : undefined}
    {...data?.footer}
  />
</FullLayout>
