---
import type { CollectionEntry } from 'astro:content'
import Block from 'fulldev-blocks/components/Block.astro'
import Blocks from 'fulldev-blocks/components/Blocks.astro'
import Layout from 'fulldev-blocks/layouts/Layout.astro'

type Props = CollectionEntry<'pages'>

const { logo, header, headers, footer, footers } = Astro.props.data || {}
---

<Layout {...Astro.props}>
  <Block
    _bookshop_name="Header"
    {logo}
    {...header}
  />
  <Blocks {...headers} />
  <main>
    <slot />
  </main>
  <Block
    _bookshop_name="Footer"
    {logo}
    {...footer}
  />
  <Blocks {...footers} />
</Layout>
