---
import type { CollectionEntry } from 'astro:content'
import { Prose, Section } from 'fulldev-ui'
import Block from '../components/Block.astro'
import Blocks from '../components/Blocks.astro'
import Layout from '../layouts/Layout.astro'

type Props = CollectionEntry<'pages'>

const { data, render, ...rest } = Astro.props
const { section, sections, block, blocks } = data
const { Content } = await render()
---

<Layout
  class:list={'page'}
  data={data}
  {...rest}
>
  <Block {...section} />
  <Block {...block} />
  <Section
    size="lg"
    style={{ '--screen': '768px' }}
  >
    <Prose id="prose">
      <Content />
    </Prose>
  </Section>
  <Blocks {...sections} />
  <Blocks {...blocks} />
  <slot />
</Layout>
