---
import type { HTMLTag } from 'astro/types'
import { Button, Column, Heading, Image, Row, Section, Text } from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const {
  structure = 'split',
  align = 'center',
  heading,
  text,
  buttons,
  image,
  ...rest
} = Astro.props
---

<Section
  structure="split"
  align="center"
  {...rest}
>
  <Column>
    <Heading html={heading} />
    <Text html={text} />
    <Row>
      {buttons?.map((button) => <Button {...button} />)}
    </Row>
  </Column>
  <Image src={image} />
</Section>
