---
import type { HTMLTag } from 'astro/types'
import {
  Button,
  Column,
  Heading,
  Image,
  Input,
  List,
  Row,
  Section,
  Text,
} from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const {
  heading,
  title,
  list,
  price,
  image,
  images,
  rating,
  buttons,
  text,
  subheading,
  button,
  description,
  ...rest
} = Astro.props
---

<Section
  structure="split"
  {...rest}
>
  <Image src={image || images?.[0]} />
  <Column>
    <Heading
      level={1}
      html={heading || title}
    />
    <Text html={text || description} />
    <List
      items={[
        'Lorem ipsum dolor sit amet',
        'Lorem ipsum dolor sit amet',
        'Lorem ipsum dolor sit amet',
      ]}
    />
    <Heading
      as="p"
      level={3}
      html={price?.toString()}
    />
    <Row>
      <Input
        value={1}
        name={'quantity'}
        style={{ width: 'var(--space-6)' }}
        type="number"
      />
      <Button
        color="brand"
        html={'In winkelwagen'}
      />
    </Row>
    <Button
      variant="soft"
      {...button}
    />
  </Column>
</Section>
